*.log
*.pyc
db.sqlite3
settings.py
secret_key.py
register.py
manage.py
logg
tokgen.py
loggg
wsgi.py
/letencrypt/
/python-duckduckgo-master/
__pycache__/
migrations/
data/
__pycache__
credentials.json
/maps_muts/
*.pak

