{% extends 'base.html' %}

{% block content %}
<iframe src="https://discordapp.com/widget?id=192460940409700352&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" align='right'></iframe>
<img src="/static/flag.png" align='left' width='350' height='500'></img>
<div class="container">
    <div class="row">
        <div class="jumbotron">
             <center>
            <h1>Streaming Test</h1>
            <iframe src="https://player.twitch.tv/?channel=cafe_" frameborder="0" allowfullscreen="true" scrolling="no" height="500" width="700"></iframe><a href="https://www.twitch.tv/cafe_?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from cafe_ on www.twitch.tv</a> 
              <iframe frameborder="0" 
        scrolling="no" 
        id="chat_embed" 
        src="https://www.twitch.tv/cafe_/chat" 
        height="700" 
        width="500">
</iframe>
            </center>
        </div>
    </div>
</div>


{% endblock %}
