{% extends 'base.html' %}


{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1336662480779453",
    enable_page_level_ads: true
  });
</script>
<div class="container w3-white">
<div class="page-header">
<center><h1 style="padding:40px;">Account Login</h1></center>
</div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
<form class="form-horizontal" method="POST" action="{% url 'login' %}" accept-charset="UTF-8">    
                <p class="bs-component">
                {% csrf_token %}
                            <label class="col-md-2 control-label" for="email">Username</label>
                            <input class="form-control" tabindex="1" placeholder="Username" type="text" name="username" id="username" value="">
                            <br>
                            <label class="col-md-2 control-label" for="password">Password</label>
                            <input class="form-control" tabindex="2" placeholder="Password" type="password" name="password" id="password">
                            </br>
                            <br>
                            <center><input class="btn btn-success btn-md" type="submit" value="Login" /></center>
                            </br>
                            </form>   
                            
                        </p>
                        <p class="muted credit">UT4 PUGS</p>  
                        <p class="bs-component">
                        </p>
                        <input type="hidden" name="next" value="" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
</body>
{% endblock %}
